body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  overflow-x: hidden; /* Yatay kaydırma çubuğu göstermek için gerekli */
}

.app {
  display: flex;
  flex-direction: column; /* İçeriğin dikey olarak yerleşmesini sağlar */
  align-items: center;
  height: 100vh;
  overflow: auto; /* İçeriğin taşması durumunda kaydırma çubuğu gösterir */
}

.container {
  width: 100%;
  max-width: 1200px; /* İçeriğin genişliğini sınırlar */
  padding: 20px;
  box-sizing: border-box;
}

/* Form ve Butonlar */
.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.form-field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}

.form-container button:hover {
  background-color: #0056b3;
}

.switch-form {
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}

.switch-form:hover {
  text-decoration: underline;
}

.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  line-height: 1.2;
  padding: 0;
}

.success-message {
  color: #28a745;
  font-size: 1rem;
  margin-top: 10px;
}

.message-container {
  margin-top: 10px;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  .app {
    padding: 20px;
  }

  .form-container {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 15px;
  }

  .form-container h2 {
    font-size: 1.25rem;
  }

  .form-container input {
    padding: 8px;
    font-size: 0.875rem;
  }

  .form-container button {
    padding: 10px;
    font-size: 0.875rem;
  }

  .switch-form {
    font-size: 0.875rem;
  }
}
